<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!--<title><%= htmlWebpackPlugin.options.title %></title>-->
		<title>213</title>
		 
		<!--<script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>" type="text/javascript" charset="utf-8"></script>-->
	</head>
	<body>
		<!--<% for(var i in htmlWebpackPlugin.files  ) { %>
		<%= i  %> : <%= JSON.stringify(htmlWebpackPlugin.files[i]) %>
		<% } %>
		
		<% for(var i in htmlWebpackPlugin.options  ) { %>
		<%= i  %> : <%= JSON.stringify(htmlWebpackPlugin.options[i]) %>
		<% } %>-->
		
<!--		<%= htmlWebpackPlugin.options.bax %>-->
		
		<!--<script src="<%= htmlWebpackPlugin.files.chunks.a.entry %>" type="text/javascript" charset="utf-8"></script>-->
		 
		
	</body>
</html>
