
* {
	margin: 0px;
	padding: 0px;
}
 
a {
	text-decoration: none;
}

img,
input {
	border: none;
}

li {
	list-style: none;
}
 
input,
textarea {
	-webkit-appearance: none;
}

 th,h2,h3,b {
	font-weight: normal;
}
a:focus,
input:focus,
p:focus,
div:focus{
-webkit-tap-highlight-color:rgba(0,0,0,0);
/*-webkit-user-modify:read-write-plaintext-only;*/
}
a:focus {outline-style:none; -moz-outline-style: none;}


.info{
	margin-top: 200px;
	margin-left: 250px;
	font-size: 26px;
	color: red;
	
}
.cal{
	margin-left: 200px;
}
input{
	border: 1px solid black;
	height: 30px;
	line-height: 30px;
	padding-left: 5px;
}
